// Fonts
$font: "Verdana";

// Main colors
$bg-color: lightyellow;
$btn-color: gold;
$note-card-bg-color: khaki;

// Default checkpoints for adaptive
$pc-l: 1920px;
$pc-m: 1400px;
$pc-s: 1280px;
$laptop-l: 1024px;
$laptop-m: 960px;
$laptop-s: 864px;
$tablet-l: 768px;
$tablet-m: 640px;
$tablet-s: 576px;
$phone-l: 480px;
$phone-m: 360px;
$phone-s: 320px;
