@import "./vars";
@import "./template";

body {
  background-color: $bg-color;
}
.global-container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
  &__main-headline {
    margin-bottom: 10px;
    font-size: 48px;
    font-family: $font;
  }
  &__error-msg {
    font-size: 18px;
    font-family: $font;
    color: red;
  }
  &__block-create {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .global-container__create-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: $font;
    }
    .global-container__create-btn {
      @include default-btn;
    }
  }
  &__block-search {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .global-container__search-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: $font;
    }
    .global-container__search-name-headline {
      font-size: 18px;
      font-family: $font;
    }
    .global-container__search-surname-headline {
      font-size: 18px;
      font-family: $font;
    }
    .global-container__search-select-headline {
      font-size: 18px;
      font-family: $font;
    }
    .global-container__search-btn {
      @include default-btn;
    }
  }
  &__users-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .global-container__users-wrapper-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: $font;
    }
  }
}
.users-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  &__no-users-text {
    font-size: 18px;
    font-family: $font;
  }
}
.user-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: $user-card-bg-color;
  border-radius: 10px;
  &__headline {
    margin-bottom: 5px;
    font-size: 24px;
    font-family: $font;
  }
  &__name-headline {
    text-align: start;
    font-size: 18px;
    font-family: $font;
  }
  &__name {
    text-align: start;
    font-size: 16px;
    font-family: $font;
  }
  &__surname-headline {
    text-align: start;
    font-size: 18px;
    font-family: $font;
  }
  &__surname {
    text-align: start;
    font-size: 16px;
    font-family: $font;
  }
  &__state-headline {
    text-align: start;
    font-size: 18px;
    font-family: $font;
  }
  &__state {
    text-align: start;
    font-size: 16px;
    font-family: $font;
    &_last {
      margin-bottom: 5px;
    }
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    .user-card__edit-btn {
      @include default-btn(130px, 1px solid black);
    }
    .user-card__delete-btn {
      @include default-btn(130px, 1px solid black);
    }
  }
}
.input-name,
.input-surname {
  font-size: 18px;
  font-family: $font;
  &_last {
    margin-bottom: 5px;
  }
}
.select-user-state {
  font-size: 18px;
  font-family: $font;
  &_last {
    margin-bottom: 5px;
  }
}
.edit-form-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit-form {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: $bg-color;
  text-align: center;
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    background-image: url(../../images/cross.png);
    background-size: cover;
  }
  &__headline {
    margin: 0 auto;
    max-width: 260px;
    margin-bottom: 5px;
    font-size: 28px;
    font-family: $font;
  }
  &__error-msg {
    font-size: 18px;
    font-family: $font;
    color: red;
  }
  &__user-name-headline {
    font-size: 18px;
    font-family: $font;
  }
  &__user-surname-headline {
    font-size: 18px;
    font-family: $font;
  }
  &__user-state-headline {
    font-size: 18px;
    font-family: $font;
  }
  &__confirm-btn {
    @include default-btn;
  }
}
