// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}
// This class is needed to make elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}
.global-container {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  background-color: lightyellow;
  &__main-headline {
    margin-bottom: 10px;
    font-size: 48px;
    font-family: Verdana;
  }
  &__block-create {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    .global-container__create-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: Verdana;
    }
    .global-container__create-btn {
      padding: 5px 10px;
      max-width: 300px;
      width: 100%;
      font-size: 18px;
      font-family: Verdana;
      border-radius: 5px;
      background-color: gold;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transition: 0s;
        color: white;
      }
    }
  }
  &__block-search {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    .global-container__search-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: Verdana;
    }
    .global-container__search-name-headline {
      font-size: 18px;
      font-family: Verdana;
    }
    .global-container__search-surname-headline {
      font-size: 18px;
      font-family: Verdana;
    }
    .global-container__search-btn {
      padding: 5px 10px;
      max-width: 300px;
      width: 100%;
      font-size: 18px;
      font-family: Verdana;
      border-radius: 5px;
      background-color: gold;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transition: 0s;
        color: white;
      }
    }
  }
  &__users-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    .global-container__users-wrapper-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: Verdana;
    }
  }
}
.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  &__no-users-text {
    font-size: 18px;
    font-family: Verdana;
  }
}
.input-name,
.input-surname {
  max-width: 300px;
  width: 100%;
  font-size: 18px;
  font-family: Verdana;
}
.edit-form-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit-form {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: lightyellow;
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    background-image: url(../../images/cross.png);
    background-size: cover;
  }
  &__headline {
    max-width: 260px;
    margin-bottom: 5px;
    font-size: 28px;
    font-family: Verdana;
    text-align: center;
  }
  &__user-name-headline {
    font-size: 18px;
    font-family: Verdana;
  }
  &__user-surname-headline {
    font-size: 18px;
    font-family: Verdana;
  }
  &__confirm-btn {
    padding: 5px 10px;
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    font-family: Verdana;
    border-radius: 5px;
    background-color: gold;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transition: 0s;
      color: white;
    }
  }
}
