.hidden-element {
  display: none !important;
}

.appeared-flex {
  display: flex !important;
}

.appeared-block {
  display: block !important;
}

body {
  background-color: lightyellow;
}

.global-container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .global-container {
    padding: 10px;
  }
}
.global-container__main-headline {
  font-size: 48px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper {
  display: flex;
  gap: 20px;
}
@media (max-width: 640px) {
  .global-container__main-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.global-container__main-content-wrapper .global-container__controllers-wrapper {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__error-msg {
  font-size: 18px;
  font-family: "Verdana";
  color: red;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create .global-container__create-headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create .global-container__select-note-state-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create .global-container__note-deadline-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create .global-container__create-btn {
  max-width: none;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: "Verdana";
  border-radius: 5px;
  background-color: gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create .global-container__create-btn:hover {
  transform: scale(1.05);
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-create .global-container__create-btn:active {
  transition: 0s;
  color: white;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-title-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-description-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-select-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__sort-select-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-btn {
  max-width: none;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: "Verdana";
  border-radius: 5px;
  background-color: gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-btn:hover {
  transform: scale(1.05);
}
.global-container__main-content-wrapper .global-container__controllers-wrapper .global-container__block-search .global-container__search-btn:active {
  transition: 0s;
  color: white;
}
.global-container__main-content-wrapper .global-container__notes-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.global-container__main-content-wrapper .global-container__notes-wrapper .global-container__notes-wrapper-headline {
  font-size: 36px;
  font-family: "Verdana";
}

.notes-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
.notes-container__no-notes-text {
  font-size: 18px;
  font-family: "Verdana";
  text-align: center;
}

.note-card {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: khaki;
  border-radius: 10px;
}
.note-card__title {
  padding: 5px;
  font-size: 26px;
  font-family: "Verdana";
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-card__description-headline {
  text-align: start;
  font-size: 20px;
  font-family: "Verdana";
}
.note-card__description {
  padding: 2px;
  flex-grow: 1;
  text-align: start;
  font-size: 16px;
  font-family: "Verdana";
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-card__description_last {
  margin-bottom: 5px;
}
.note-card__state {
  text-align: start;
  font-size: 20px;
  font-family: "Verdana";
}
.note-card__state_last {
  margin-bottom: 5px;
}
.note-card__deadline {
  text-align: start;
  font-size: 20px;
  font-family: "Verdana";
}
.note-card__deadline_last {
  margin-bottom: 5px;
}
.note-card__buttons-wrapper {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.note-card__buttons-wrapper .note-card__edit-btn {
  max-width: 130px;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: "Verdana";
  border-radius: 5px;
  background-color: gold;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}
.note-card__buttons-wrapper .note-card__edit-btn:hover {
  transform: scale(1.05);
}
.note-card__buttons-wrapper .note-card__edit-btn:active {
  transition: 0s;
  color: white;
}
.note-card__buttons-wrapper .note-card__delete-btn {
  max-width: 130px;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: "Verdana";
  border-radius: 5px;
  background-color: gold;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}
.note-card__buttons-wrapper .note-card__delete-btn:hover {
  transform: scale(1.05);
}
.note-card__buttons-wrapper .note-card__delete-btn:active {
  transition: 0s;
  color: white;
}

.input-title {
  font-size: 18px;
  font-family: "Verdana";
}
.input-title_last {
  margin-bottom: 5px;
}

.text-area-description {
  font-size: 18px;
  font-family: "Verdana";
  resize: none;
}
.text-area-description_last {
  margin-bottom: 5px;
}

.select-note-state {
  font-size: 18px;
  font-family: "Verdana";
}
.select-note-state_last {
  margin-bottom: 5px;
}

.select-sort-option {
  font-size: 18px;
  font-family: "Verdana";
}
.select-sort-option_last {
  margin-bottom: 5px;
}

.input-deadline {
  font-size: 18px;
  font-family: "Verdana";
}
.input-deadline_last {
  margin-bottom: 5px;
}

.edit-form-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-form {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: lightyellow;
  text-align: center;
}
.edit-form__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  background-image: url(../../images/cross.png);
  background-size: cover;
}
.edit-form__headline {
  margin: 0 auto;
  max-width: 260px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: "Verdana";
}
.edit-form__error-msg {
  white-space: pre-wrap;
  font-size: 18px;
  font-family: "Verdana";
  color: red;
}
.edit-form__note-title-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.edit-form__note-description-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.edit-form__note-state-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.edit-form__note-deadline-headline {
  font-size: 18px;
  font-family: "Verdana";
}
.edit-form__confirm-btn {
  max-width: none;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: "Verdana";
  border-radius: 5px;
  background-color: gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.edit-form__confirm-btn:hover {
  transform: scale(1.05);
}
.edit-form__confirm-btn:active {
  transition: 0s;
  color: white;
}/*# sourceMappingURL=glStyle.css.map */