// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}
// This class is needed to make elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}
body {
  background-color: lightyellow;
}
.global-container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
  &__main-headline {
    margin-bottom: 10px;
    font-size: 48px;
    font-family: Verdana;
  }
  &__block-create {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .global-container__create-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: Verdana;
    }
    .global-container__create-btn {
      padding: 5px 10px;
      font-size: 18px;
      font-family: Verdana;
      border-radius: 5px;
      background-color: gold;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transition: 0s;
        color: white;
      }
    }
  }
  &__block-search {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .global-container__search-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: Verdana;
    }
    .global-container__search-name-headline {
      font-size: 18px;
      font-family: Verdana;
    }
    .global-container__search-surname-headline {
      font-size: 18px;
      font-family: Verdana;
    }
    .global-container__search-btn {
      padding: 5px 10px;
      font-size: 18px;
      font-family: Verdana;
      border-radius: 5px;
      background-color: gold;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transition: 0s;
        color: white;
      }
    }
  }
  &__users-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .global-container__users-wrapper-headline {
      margin-bottom: 5px;
      font-size: 24px;
      font-family: Verdana;
    }
  }
}
.users-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  &__no-users-text {
    font-size: 18px;
    font-family: Verdana;
  }
}
.user-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: khaki;
  border-radius: 10px;
  &__headline {
    margin-bottom: 5px;
    font-size: 24px;
    font-family: Verdana;
  }
  &__name-headline {
    text-align: start;
    font-size: 18px;
    font-family: Verdana;
  }
  &__name {
    text-align: start;
    font-size: 16px;
    font-family: Verdana;
  }
  &__surname-headline {
    text-align: start;
    font-size: 18px;
    font-family: Verdana;
  }
  &__surname {
    text-align: start;
    font-size: 16px;
    font-family: Verdana;
    &_last {
      margin-bottom: 5px;
    }
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    .user-card__edit-btn {
      max-width: 130px;
      width: 100%;
      padding: 5px 10px;
      font-size: 18px;
      font-family: Verdana;
      border-radius: 5px;
      background-color: gold;
      border: 1px solid black;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transition: 0s;
        color: white;
      }
    }
    .user-card__delete-btn {
      max-width: 130px;
      width: 100%;
      padding: 5px 10px;
      font-size: 18px;
      font-family: Verdana;
      border-radius: 5px;
      background-color: gold;
      border: 1px solid black;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transition: 0s;
        color: white;
      }
    }
  }
}
.input-name,
.input-surname {
  font-size: 18px;
  font-family: Verdana;
  &_last {
    margin-bottom: 5px;
  }
}
.edit-form-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit-form {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: lightyellow;
  text-align: center;
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    background-image: url(../../images/cross.png);
    background-size: cover;
  }
  &__headline {
    margin: 0 auto;
    max-width: 260px;
    margin-bottom: 5px;
    font-size: 28px;
    font-family: Verdana;
  }
  &__user-name-headline {
    font-size: 18px;
    font-family: Verdana;
  }
  &__user-surname-headline {
    font-size: 18px;
    font-family: Verdana;
  }
  &__confirm-btn {
    padding: 5px 10px;
    font-size: 18px;
    font-family: Verdana;
    border-radius: 5px;
    background-color: gold;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transition: 0s;
      color: white;
    }
  }
}
