.hidden-element {
  display: none !important;
}

.appeared-flex {
  display: flex !important;
}

body {
  background-color: lightyellow;
}

.global-container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
}
.global-container__main-headline {
  margin-bottom: 10px;
  font-size: 48px;
  font-family: Verdana;
}
.global-container__block-create {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.global-container__block-create .global-container__create-headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: Verdana;
}
.global-container__block-create .global-container__create-btn {
  padding: 5px 10px;
  font-size: 18px;
  font-family: Verdana;
  border-radius: 5px;
  background-color: gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.global-container__block-create .global-container__create-btn:hover {
  transform: scale(1.05);
}
.global-container__block-create .global-container__create-btn:active {
  transition: 0s;
  color: white;
}
.global-container__block-search {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.global-container__block-search .global-container__search-headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: Verdana;
}
.global-container__block-search .global-container__search-name-headline {
  font-size: 18px;
  font-family: Verdana;
}
.global-container__block-search .global-container__search-surname-headline {
  font-size: 18px;
  font-family: Verdana;
}
.global-container__block-search .global-container__search-btn {
  padding: 5px 10px;
  font-size: 18px;
  font-family: Verdana;
  border-radius: 5px;
  background-color: gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.global-container__block-search .global-container__search-btn:hover {
  transform: scale(1.05);
}
.global-container__block-search .global-container__search-btn:active {
  transition: 0s;
  color: white;
}
.global-container__users-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.global-container__users-wrapper .global-container__users-wrapper-headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: Verdana;
}

.users-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.users-container__no-users-text {
  font-size: 18px;
  font-family: Verdana;
}

.user-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: khaki;
  border-radius: 10px;
}
.user-card__headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: Verdana;
}
.user-card__name-headline {
  text-align: start;
  font-size: 18px;
  font-family: Verdana;
}
.user-card__name {
  text-align: start;
  font-size: 16px;
  font-family: Verdana;
}
.user-card__surname-headline {
  text-align: start;
  font-size: 18px;
  font-family: Verdana;
}
.user-card__surname {
  text-align: start;
  font-size: 16px;
  font-family: Verdana;
}
.user-card__surname_last {
  margin-bottom: 5px;
}
.user-card__buttons-wrapper {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.user-card__buttons-wrapper .user-card__edit-btn {
  max-width: 130px;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: Verdana;
  border-radius: 5px;
  background-color: gold;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}
.user-card__buttons-wrapper .user-card__edit-btn:hover {
  transform: scale(1.05);
}
.user-card__buttons-wrapper .user-card__edit-btn:active {
  transition: 0s;
  color: white;
}
.user-card__buttons-wrapper .user-card__delete-btn {
  max-width: 130px;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: Verdana;
  border-radius: 5px;
  background-color: gold;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}
.user-card__buttons-wrapper .user-card__delete-btn:hover {
  transform: scale(1.05);
}
.user-card__buttons-wrapper .user-card__delete-btn:active {
  transition: 0s;
  color: white;
}

.input-name,
.input-surname {
  font-size: 18px;
  font-family: Verdana;
}
.input-name_last,
.input-surname_last {
  margin-bottom: 5px;
}

.edit-form-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-form {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: lightyellow;
  text-align: center;
}
.edit-form__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  background-image: url(../../images/cross.png);
  background-size: cover;
}
.edit-form__headline {
  margin: 0 auto;
  max-width: 260px;
  margin-bottom: 5px;
  font-size: 28px;
  font-family: Verdana;
}
.edit-form__user-name-headline {
  font-size: 18px;
  font-family: Verdana;
}
.edit-form__user-surname-headline {
  font-size: 18px;
  font-family: Verdana;
}
.edit-form__confirm-btn {
  padding: 5px 10px;
  font-size: 18px;
  font-family: Verdana;
  border-radius: 5px;
  background-color: gold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.edit-form__confirm-btn:hover {
  transform: scale(1.05);
}
.edit-form__confirm-btn:active {
  transition: 0s;
  color: white;
}/*# sourceMappingURL=glStyle.css.map */